@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0%;
}

body {
    background-color: #D8E3E7;
    font-family: 'Roboto', sans-serif;
}

#logoid {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.topNav{
    padding: 20px;
    float:left;
    display: block;
    background-color: #515E63;
    width: 100%;
    justify-content: space-between;
    
    
}

.topNav a {
    text-decoration: none;
    margin-left: 5%;
    color: whitesmoke;
    padding: 10px 20px;
}

.topnav a:hover {
    background-color:whitesmoke;
    opacity: 0.7;
    border-radius: 20%;
    color: #515E63;
    
}



.columns {
    float:left;
    width:50%;
    padding:12px;
}

.abt {
    border-bottom: #515E63;
}

.row::after {
    content: "";
    display:table;
    clear:both;
}

.image {
    width:50%;
    float:left;
    padding: 0.4%;
}

.skills,.hni,.fm {
    border: 2px solid;
    border-radius: 10%;
    padding: 3px;
    background-color: #515E63;
}

.dropbtn {
    background-color: #515E63;
    width: 100%;
    color: whitesmoke;
    padding:10px;
    cursor:pointer;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position:absolute;
    background-color: #D8E3E7 ;
    min-width: 708px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	line-height: 5px;
	padding: 10px;
}
.dropdown-content a {
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration:none;

}

.dropdown-content p {
    font-size:14px;
}


.show {
    display:block;
}


.contact-left {
    float:left;
    width:40%;
}
.contact-right {
    float:left;
    width:60%;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 15px;
}

.fa-github {
    background-color: #B2B1B9;
    color: black;
}
.fa-linkedin {
    background-color: #B2B1B9;
    color: #0077b5;
}

.fa-instagram {
    background-color:#B2B1B9;
    color:#8a3ab9;
    
}
.fa-google {
    background-color: #B2B1B9;
    color:#4285F4;
}

.leftcont {
    float:left;
    width: 25%;
}
.rightcont {
    float:left;
    margin-left: 75%;

}


